  
<li>
	<button class="change-devoured" data-id="{{id}}" data-newdevoured="{{devoured}}">
		{{#if devoured}}{{burger_name}}<button type="submit" class="btn- btn-default" id="burger-ready">DEVOUR IT</button>{{else}}{{burger_name}}{{/if}}
	</button>
</li>